.bor
{
  border: 0px solid;
  border-radius: 31px;
  padding: 2px ;
  box-shadow:0px 3px 3px #0000001A;
}
.bar {

  
  position: relative;
 
}
.bar:after {    
  /* content: ''; */
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  /* background: #fff; */
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.bar:hover:after { 
  width: 100%; 
    left: 0;
}